@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root {
    min-height: 100%;
    background: black;
    color: white;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes shawlDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.text {
    font-family: 'Halant', serif;
    font-size: 150px;
    font-weight: 700;
    letter-spacing: 22px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 2; /* Keep text above eyes */
}

.text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transform: translateY(0);
    animation: shawlDown 2.5s ease-out forwards;
}

/* Clip top half */
.text.top {
    clip-path: inset(0 0 53% 0);
}

/* Clip bottom half */
.text.bottom {
    clip-path: inset(45% 0 0 0);
}

/* Eyes image */
.eyes {
    /* padding-top: 100px; */
    position: absolute;
    width: 950px;   /* adjust size */
    z-index: 1;     /* behind text */
    transition: transform 0.1s linear;
    pointer-events: none; /* don’t block mouse */
}
